<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-split-pane>
    <ion-menu id="menuID" menuId="menuID" side="start" type="overlay">
      <!-- TITULO DO MENU -->
      <ion-header>
        <ion-toolbar>
            <ion-title>MENU</ion-title>
         </ion-toolbar>
      </ion-header>
      <!-- ITENS DO MENU -->
      <ion-content>
   <!-- TAG PARA FECHAR O MENU AO SER CLICADO -->
         <ion-menu-toggle>
      <!-- ITENS DO MENU -->
              <ion-list>
    
              <!-- <ion-item button [routerLink]="p.url" *ngFor="let p of paginas">
                <ion-icon slot="start" [name]="p.icon"></ion-icon> {{ p.nome }}
              </ion-item> -->
              <ion-item button routerLink="/noticias-generos">
                <ion-icon slot="start" name="paper"></ion-icon> Feed
              </ion-item>
              <ion-item button routerLink="/musicas">
                <ion-icon slot="start" name="musical-notes"></ion-icon> Músicas
              </ion-item>
              <ion-item button routerLink="/amigos">
                <ion-icon slot="start" name="people"></ion-icon> Amigos
              </ion-item>
              <ion-item button>
                <ion-icon slot="start" name="text"></ion-icon> Sugestões
              </ion-item>
              <ion-item button routerLink="/home">
                <ion-icon slot="start" name="exit"></ion-icon> Sair
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
       </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>

