<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notícias: generos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item routerLink="/cristans">
          <ion-label>Cristã</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Eletrônica</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Internacional</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Pop</ion-label>
        </ion-item>
        <ion-item routerLink="/rock">
          <ion-label>Rock</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
