<ion-header>

</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-title>Login</ion-title>
      </ion-card-header>
    
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" aria-required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.senha" aria-required="true"></ion-input>
      </ion-item>
      <ion-button block color="primary" type="submit" expand="full" shape="round" (click)="login()">
        Login
      </ion-button>
      
      <label>{{mensagem}}</label>
      
  </ion-card>
</ion-content>
